extends ../layout.jade
block contenido
    div(class="col-md-6 remove-float center-block big-top-space")
        h1 Editar linea
        form(action="/api/lineas/#{linea._id}", method="POST")
            <input type="hidden" name="_method" value="put"/>
            div(class="form-group")
            div
                label(for="usuario1") Jugador 1
                select(id="usuario1", name="usuario1", class="form-control")
                    for usuario in usuarios 
                        if (usuario._id+""==linea.id_usuario1+"")
                            option(selected value="#{usuario._id}") #{usuario.nombre} #{usuario.apellido} (#{usuario.handicap})
                        else
                            option(value="#{usuario._id}") #{usuario.nombre} #{usuario.apellido} (#{usuario.handicap})
                p
            div
                label(for="usuario2") Jugador 2
                select(id="usuario2", name="usuario2", class="form-control")
                    for usuario in usuarios 
                        if (usuario._id+""==linea.id_usuario2+"")
                            option(selected value="#{usuario._id}") #{usuario.nombre} #{usuario.apellido} (#{usuario.handicap})
                        else
                            option(value="#{usuario._id}") #{usuario.nombre} #{usuario.apellido} (#{usuario.handicap})
                p
            div
                label(for="usuario3") Jugador 3
                select(id="usuario3", name="usuario3", class="form-control")
                    for usuario in usuarios 
                        if (usuario._id+""==linea.id_usuario3+"")
                            option(selected value="#{usuario._id}") #{usuario.nombre} #{usuario.apellido} (#{usuario.handicap})
                        else
                            option(value="#{usuario._id}") #{usuario.nombre} #{usuario.apellido} (#{usuario.handicap})
                p
             div
                label(for="usuario4") Jugador 4
                select(id="usuario4", name="usuario4", class="form-control")
                    for usuario in usuarios 
                        if (usuario._id+""==linea.id_usuario4+"")
                            option(selected value="#{usuario._id}") #{usuario.nombre} #{usuario.apellido} (#{usuario.handicap})
                        else
                            option(value="#{usuario._id}") #{usuario.nombre} #{usuario.apellido} (#{usuario.handicap})
                p
            div
                p
            div(class="row top-space")
                div(class="col-xs-12 col-sm-6")
                    input(type="submit",value="Editar linea",class="btn btn-info")