extends ../layout.jade
block contenido

    div(class="container remove-float center-block big-top-space")
        h1 Listado de Torneos
        a(href="/api/torneos/new", class="right-space") Nuevo Torneo
        p
        for torneo in torneos 
            .white.border.tr.large-padding
                .row
                    .col-md-8
                        p Id: #{torneo._id}
                        p Fecha: #{torneo.fecha} 
                        p Campo: 
                        p(class="left-space") Nombre: #{torneo.campo.nombre}
                        p(class="left-space") Ubicacion: #{torneo.campo.ubicacion}
                        p Jugadores de Linea: 
                        p(class="left-space") #{torneo.linea.id_usuario1.nombre} #{torneo.linea.id_usuario1.apellido} (#{torneo.linea.id_usuario1.handicap})
                        p(class="left-space") #{torneo.linea.id_usuario2.nombre} #{torneo.linea.id_usuario2.apellido} (#{torneo.linea.id_usuario2.handicap})
                        p(class="left-space") #{torneo.linea.id_usuario3.nombre} #{torneo.linea.id_usuario3.apellido} (#{torneo.linea.id_usuario3.handicap})
                        p(class="left-space") #{torneo.linea.id_usuario4.nombre} #{torneo.linea.id_usuario4.apellido} (#{torneo.linea.id_usuario4.handicap})
                        p Horario: #{torneo.horario.descripcion}
                        p
                    .col.md-2

                        a(href="/api/torneos/#{torneo._id}", class="right-space") Ver
                        a(href="/api/torneos/#{torneo._id}/editar", class="right-space") Editar
                        form(action="/api/torneos/#{torneo._id}" class="link" method="POST")
                            input(type="hidden", name="_method", value="delete")
                            input(type="submit", value="Eliminar", onclick="return confirm('Esta seguro de eliminar el registro?');")